{% extends 'home.html' %}


{% block content %}
<br>
<br>
        <div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Cline1</th>
                    <th scope="col">Cline2</th>
                    <th scope="col">Cline3</th>
                   
                   
                  </tr>
                </thead>
                <tbody>
                      {% for i in data %}
                        <tr>  
                        <td>{{i.Date}}</td>
                        <td>{{i.Cl1}}</td>
                        <td>{{i.Cl2}}</td>
                        <td>{{i.Cl3}}</td>
                        
                        
                        </tr>
                         {% endfor %} 

                    </tbody>
                </table>
         </div>
    
 
  
{% endblock %}
