{% extends 'home.html' %}


{% block content %}
<br>
<br>
        <div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Mline1</th>
                    <th scope="col">Mline2</th>
                    <th scope="col">Mline3</th>
                    <th scope="col">Mline4</th>
                   
                  </tr>
                </thead>
                <tbody>
                      {% for i in data %}
                        <tr>  
                        <td>{{i.Date}}</td>
                        <td>{{i.Ml1}}</td>
                        <td>{{i.Ml2}}</td>
                        <td>{{i.Ml3}}</td>
                        <td>{{i.Ml4}}</td>
                        
                        </tr>
                         {% endfor %} 

                    </tbody>
                </table>
         </div>
    
 
  
{% endblock %}
